<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
 
<div class="container">
    <h1>Please login to continue</h1>
<form action="/user/create_session" method="post">
   <div class="fields">
   <div class="chip">
    <label for="sname">email:</label>
    <input type="email" name="email" id="sname">
    
   </div>
   <div class="chip">
    <label for="spwd">password:</label>
    <input type="password" name="password" id="spwd">
    
   </div>
   </div>
<div class="btn">
    <button type="submit">sign in</button>
</div>
</form>

</div>
    


</body>
</html>